/*-------------------------------  Custom Fonts  ------------------------------------*/
/*-------------------------------  Defs & Sys  ------------------------------------*/
    body {
        position: relative;
        min-width: 320px;
        font-size: 14px;
        line-height: 1.6em;
        color: #000;
        background: #fff;
        -webkit-font-smoothing: antialiased;
    }
    body, button, input, select, textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
    a {text-decoration: underline; color: #43f;}
    a:focus, a:hover {text-decoration: underline; color: #f00;}
    a:hover {text-decoration: underline; color: #000;}
    a[href^="http"], a[href^="www."] {cursor: pointer; cursor: alias;}
    .tac { text-align: center; }
    .tar { text-align: right; }
    .tal { text-align: left; }
    .fll { float: left; }
    .flr { float: right; }
    .cls { font-size: 0; display: table; width: 100%;}
    .ovh { overflow: hidden; }
    .clear { clear: both;}
    .blank { height: 25px; }
    .clearFix:after, .wSize:after, .wTxt:after { content: ''; display: block; clear: both; height: 0; }
    .svgHolder {position: relative; }
    .svgHolder > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
/*-------------------------------  conteiner  ------------------------------------*/
    .wWrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .wSize {
        max-width: 980px;
        padding: 0 5px;
        margin: 0 auto;
        position: relative;
    }
    .wConteiner {
        padding: 20px 0 100px 0;
        position: relative;
    }
/*-------------------------------  wHeader  ------------------------------------*/
    .wHeader {
        position: relative;
    }
/*-------------------------------  wConteiner  ------------------------------------*/
    /*-------------------------------  wLeft  ------------------------------------*/
        .wLeft {
            position: relative;
            float: left;
            width: 25%;
            margin-right: 3%;
            margin-bottom: 3%;
        }
    /*-------------------------------  wRight  ------------------------------------*/
        .wRight {
            position: relative;
            float: right;
            width: 25%;
            margin-left: 3%;
            margin-bottom: 3%;
        }
    /*-------------------------------  wMiddle  ------------------------------------*/
        .wLeft + .wMiddle,
        .wRight + .wMiddle {
            position: relative;
            overflow: hidden;
        }
        .wMiddle {
            margin-bottom: 3%;
        }
/*-------------------------------  wFooter  ------------------------------------*/
    .wFooter {
        position: relative;
        margin: -100px auto 0;
        height: 100px;
    }
/*-------------------------------  breadcrumbs  ------------------------------------*/
    .breadcrumbs {
        width: 100%;
        display: table;
        font-size: 0;
        line-height: 0;
        margin-bottom: 15px;
    }
    .breadcrumbs > span {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        line-height: 18px;
        margin-right: 7px;
        color: #000;
    }
    .breadcrumbs > span:before {
        content: '›';
        display: inline-block;
        vertical-align: top;
        margin-right: 7px;
    }
    .breadcrumbs > span:first-child:before {
        display: none;
    }
    .breadcrumbs > span > a {
        text-decoration: underline;
    }
    
    @media only screen and (max-width:620px) {
        .breadcrumbs {
            display: block;
        }
        .breadcrumbs > span, .breadcrumbs > span:before {
            display: none;
        }
        .breadcrumbs > span:nth-last-child(2) {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            background: none;
            margin: 0;
        }
        .breadcrumbs > span:nth-last-child(2):before {
            content: '‹';
            display: inline;
            font-size: 120%;
            margin: 0 5px 0 3px;
        }
    }
/*-------------------------------  wTxt  ------------------------------------*/
    .wTxt {
        position: relative;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 1.4em;
        text-transform: none;
        text-decoration: none;
    }
    .wTxt a {
        color: #43f;
        text-decoration: underline;
    }
    .wTxt a:visited {text-decoration: underline; color: #609; }
    .wTxt a:hover {text-decoration: underline; color: #f00; }
    .wTxt a:active {text-decoration: underline; color: #000; }

    .wTxt h1:before, .wTxt h2:before, .wTxt h3:before,
    .wTxt h4:before, .wTxt h5:before, .wTxt h6:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
    .wTxt ul, .wTxt ol, .wTxt dl, .wTxt pre, .wTxt p,
    .wTxt blockquote, .wTxt table, .wTxt blockquote {
        margin: 1em 0px;
    }
    .wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
    .h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
        font: 40px/1.2em Arial, Helvetica, sans-serif;
        margin: 1.3em 0 0.7em;
    }
    .wTxt h2, .h2T { font-size: 34px; line-height: 1.2em; }
    .wTxt h3, .h3T { font-size: 30px; line-height: 1.2em; }
    .wTxt h4, .h4T { font-size: 26px; line-height: 1.2em; }
    .wTxt h5, .h5T { font-size: 22px; line-height: 1.2em; }
    .wTxt h6, .h6T { font-size: 18px; line-height: 1.2em; }

    .wTxt h1:first-child, .wTxt h2:first-child, .wTxt h3:first-child, .wTxt h4:first-child, .wTxt h5:first-child, .wTxt h6:first-child,
    .h1T:first-child, .h2T:first-child, .h3T:first-child, .h4T:first-child, .h5T:first-child, .h6T:first-child {margin-top: 0;}

    .wTxt h1 a, .wTxt h2 a, .wTxt h3 a, .wTxt h4 a, .wTxt h5 a, .wTxt h6 a,
    .h1T a, .h2T a, .h3T a, .h4T a, .h5T a, .h6T a {
        text-decoration: none !important;
    }
    .wTxt code, .wTxt kbd, .wTxt samp {
        line-height: 1.3em;
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        border-radius: 3px;
    }
    .wTxt code {
        color: red;
    }
    .wTxt kbd {
        color: blue;
    }
    .wTxt samp {
        color: #009e00;
    }
    .wTxt pre {
        padding: 15px;
        border-radius: 5px;
    }
    .wTxt code, .wTxt kbd, .wTxt pre, .wTxt samp {
        background: #efefef;
        border: 1px solid #ccc;
    }
    .wTxt blockquote {
        padding: 5px 20px;
        font-style: italic;
    }
    .wTxt ul, .wTxt ol, .wTxt dl {
        margin: 1em 0 1em 1em;
    }
    .wTxt li {
        list-style-type: disc;
        list-style-position: inside;
    }
    .wTxt ol li {
        list-style-type: decimal;
        list-style-position: inside;
    }
    .wTxt dl dt {
        font-style: italic;
    }
    .wTxt table  {
        width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        width: 100%;
        margin: 10px 0 20px;
    }
    .wTxt table th,
    .wTxt table td {
        padding: 10px;
        line-height: 1em;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
    }
    .wTxt table th {
        font-weight: bold;
        background: #eee;
    }
    .wTxt table.table-null,
    .wTxt table.table-null th,
    .wTxt table.table-null td {
        border-color: transparent;
    }
    .wTxt table.table-zebra,
    .wTxt table.table-zebra th,
    .wTxt table.table-zebra td {
        border-color: transparent;
    }
    .wTxt table.table-zebra tr:nth-child(even) {
        background: #ddd;
    }
    .iframeHolder {
        width: 100%;
        position: relative;
        padding-top: 56.25%;
    }
    .iframeHolder.ratio_56 { padding-top: 56.25%; }
    .iframeHolder.ratio_75 { padding-top: 75%; }
    .iframeHolder > iframe {
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
