@media only screen and (max-width:1280px) {}
@media only screen and (max-width:1024px) {}
@media only screen and (max-width:980px) {}
@media only screen and (max-width:720px) {
	.blank {height: 15px;}
	.wLeft, .wRight { float: none; width: auto; margin-left: 0; margin-right: 0;}
}
@media only screen and (max-width:600px) {}
@media only screen and (max-width:540px) {}
@media only screen and (max-width:480px) {}
@media only screen and (max-width:320px) {}