- var ResponsivePage = true   //- true если сайт адаптивный
- var PageWidth = 1000    //- Ширина ViewPort если не адаптивный
- var ProjectName = ''    //- Название проекта (Выводится в title)
- var PageTitle = ''   //- Заголовок страницы (Выводится в title)
- var Title= 'Верстка | (c) студия Wezom | www.wezom.com.ua'  //- Стандартный title если не указано название проекта и страницы
- var UseSvgSprite = true