meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title #{Title}
meta(name='description', lang='ru-ru', content='')
meta(name='keywords', lang='ru-ru', content='студия wezom, разработка сайтов')
meta(name='keywords', lang='en-us', content='studio wezom, web development')
meta(name='author', lang='ru-ru', content='')
meta(property='og:title', content='Заголовок страницы')
meta(property='og:type', content='website')
// тип объекта - не изменять
meta(property='og:url', content='http://site.com/articles/example')
// url текущей страницы
meta(property='og:image', content='http://site.com/pic/image.jpg')
// изображение размером не менее 200х200
meta(property='og:description', content='Short description text.')
// краткий текст (новости, товара и т.д)
meta(property='og:site_name', content='site.com')
// домен сайта
//if IE
  meta(http-equiv='imagetoolbar', content='no')

if ResponsivePage
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
else    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=#{PageWidth}">

// saved from url=(0014)about:internet
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')

include ../blocks/favicons.jade

meta(name='apple-mobile-web-app-title', content='Title')
// php - изменить
meta(name='application-name', content='Title')
// php - изменить
meta(name='msapplication-tooltip', content='Description')
// php - изменить
style.
  .seoTxt{position:absolute;top:100%;left:0;width:100%;}
link(rel='stylesheet', href='css/plugin.css')
link(rel='stylesheet', href='css/style.css')
if ResponsivePage
    link(rel='stylesheet', href='css/responsive.css')
    //- <link rel="stylesheet" href="css/responsive-portrait.css" media="all and (orientation:portrait)">
    //- <link rel="stylesheet" href="css/responsive-landscape.css" media="all and (orientation:landscape)">
//if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
script.
  !function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
script(src='js/modernizr.js')
script(src='js/jquery-1.11.0.min.js')
script(src='js/plugins.js')
script(src='js/init.js')
