extends ../layouts/general.jade
block AfterFooterOnlyThisPage
  // demo sprite no php
  script.
    spriteSvg.isDone=function(e){for(var i=document.getElementById("svgDemoList"),n="",d=0;d<e.children.length;d++){var l=e.children[d];n+='<li style="z-index:'+(e.children.length-d)+'"><div class="svgHolder"><svg><use xlink:href="#'+l.id+'" /></svg></div><code>#'+l.id+"</code></li>"}i.innerHTML=n};
  // end demo sprite no php
block content
  .demo
    .h5T Адаптивные хлебные крошки
    .breadcrumbs
      span
        a(href='#') Главная
      span
        a(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      span Текст
  // .demo
  hr
  .wRight
    .demo
      .h5T SVG ICONS
      style.
        #svgDemoList {margin: 20px 0;border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
        #svgDemoList:after { content: ''; display: block; clear: both; height: 0; }
        #svgDemoList li {position: relative;float: left;width: 50%;box-sizing: border-box;}
        #svgDemoList .svgHolder {width: 100%;height:0px;padding-top: 100%;background-color: #fff; box-sizing: border-box;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;}
        #svgDemoList .svgHolder > svg {max-width: 70%;max-height: 70%;}
        #svgDemoList code {padding: 3px 0; display: none; position: absolute; top: 100%; left: 0; width: 200%; text-align: center; background: #EB1F27; color: #fff; font-family: Arial;}
        #svgDemoList li:nth-child(even) code {left: -100%;}
        #svgDemoList li:hover .svgHolder {background-color: #f8f8f8;}
        #svgDemoList li:hover code {display: block; }
      ul#svgDemoList
  // .wRight
  .wMiddle
    .demo
      .h5T Кнопки
      .m10_0
        button.wBtn button .wBtn
        span.wBtn span .wBtn
        a.wBtn(hre='#') a .wBtn
        input.wBtn(type='button', value='input .wBtn')
      .m10_0
        button.wBtn Default
        button.wBtn.primary Primary
        button.wBtn.succes Succes
        button.wBtn.info Info
        button.wBtn.warning Warning
        button.wBtn.danger Danger
      .m10_0
        button.wBtn.lg Default
        button.wBtn.lg.primary Primary
        button.wBtn.lg.succes Succes
        button.wBtn.lg.info Info
        button.wBtn.lg.warning Warning
        button.wBtn.lg.danger Danger
      .m10_0
        button.wBtn.lg
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
        button.wBtn.lg.primary
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
        button.wBtn.lg.succes
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
        br
        button.wBtn.lg.info
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
        button.wBtn.lg.warning
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
        button.wBtn.lg.danger
          span.svgHolder
            svg
              use(xlink:href='#icon_burger')
          |  #icon_burger
    // .demo
    hr
    .wForm.wFormDef(data-form='true')
      .wFormRow
        label.wLabel(for='file-3') File multiple
        .wCaption Максимальный размер каждого файла 20KB
        .wFormInput
          input#file-3.wFile(type='file', name='file-3', multiple='', required='', filesizeeach='20')
          label.wInput.wFileVal(for='file-3', data-txt='["Ничего не выбрано", "Выбрано %num% файлов"]') Ничего не выбрано
      .wFormRow
        button.wSubmit.wBtn.lg.succes(type='submit')
          span Подтверждение
        button.wReset.wBtn.lg.danger(type='reset')
          span Сброс
        button.wBtn.lg.primary(type='button')
          span Кнопка
    .demo
      .h5T Формы
      .wForm.wFormDef(data-form='true')
        .wFormRow
          label.wLabel(for='name1') Имя *
          .wCaption Имя не должно содержать цыфры и спец. символы
          .wFormInput
            input#name1.wInput(type='text', name='name1', required='', data-rule-word='true', data-rule-minlength='3')
            .inpInfo Имя *
        .wFormRow
          label.wLabel(for='login1') Login *
          .wCaption Login не может начинаться с цифры и содержать спец. символы
          .wFormInput
            input#login1.wInput(type='text', name='login1', required='', data-rule-login='true', data-rule-minlength='3')
            .inpInfo Login *
        .wFormRow.demoPre
          label.wLabel(for='password1') Пароль *
          .wFormInput
            input#password1.wInput(type='password', name='password1', required='', data-rule-minlength='5')
            .inpInfo Пароль *
        .wFormRow
          label.wLabel(for='password2') Повторите Пароль *
          .wFormInput
            input#password2.wInput(type='password', name='password2', required='', equalto='#password1')
            .inpInfo Повторите Пароль *
        .wFormRow
          label.wLabel(for='email1') E-mail *
          .wFormInput
            input#email1.wInput(type='email', name='email1', required='', data-rule-email='true', data-msg-required='Укажите e-mail')
            .inpInfo E-mail *
        .wFormRow
          label.wLabel(for='tel1') Телефон *
          .wFormInput
            input#tel1.wInput.phoneMask(type='tel', name='tel1', required='', data-rule-phoneua='true', data-msg-required='Укажите номер телефона')
            .inpInfo Телефон *
        .wFormRow
          .wFormInput
            textarea#textarea1.wTextarea(name='textarea1', required='', data-rule-minlength='10', data-msg-required='Введите текст', placeholder='Оставьте свой комментарий')
            .inpInfo Комментарий
        .wFormRow
          label.wLabel(for='select1') Селект *
          .wFormInput
            select#select1.wSelect(name='select1', required='', data-msg-required='Введите пункт')
              option(value='v0', selected='', disabled='') Выберете пункт
              option(value='v1') Пункт для выбора - 1
              option(value='v2') Пункт для выбора - 2
              option(value='v3') Пункт для выбора - 3
              option(value='v4') Пункт для выбора - 4
              option(value='v5') Пункт для выбора - 5
        .wFormRow
          label.wLabel(for='select2') Селект *
          .wFormInput
            select#select2.wSelect(name='select2', multiple='', required='', data-msg-required='Введите пункт')
              option(value='v1') Пункт для выбора - 1
              option(value='v2') Пункт для выбора - 2
              option(value='v3') Пункт для выбора - 3
              option(value='v4') Пункт для выбора - 4
        .wFormRow
          label.wLabel(for='file-1') File
          .wCaption Допустимые расширения файлов: png, gif!
          .wFormInput
            input#file-1.wFile(type='file', name='file-1', required='', data-rule-filetype='png|gif', data-msg-required='Выберети файл!')
            label.wInput.wFileVal(for='file-1', data-txt='["Ничего не выбрано", "Выбрано"]') Ничего не выбрано
        .wFormRow
          label.wLabel(for='file-2') File multiple
          .wCaption Максимальный общий размер - 20KB
          .wFormInput
            input#file-2.wFile(type='file', name='file-2', multiple='', required='', data-rule-filesize='20', data-msg-required='Выберети файлы!')
            label.wInput.wFileVal(for='file-2', data-txt='["Ничего не выбрано", "Выбрано %num% файлов"]') Ничего не выбрано
        .wFormRow
          label.wCheck
            input(type='checkbox', name='ddfgd', required='', data-msg='Данное поле необходимо отметить')
            span Я согласен с условиями использования и обработку моих персональных данных
        .wFormRow
          label.wRadio
            input(type='radio', name='radio', required='', data-msg='Данное поле необходимо отметить')
            span radio 1
          label.wRadio
            input(type='radio', name='radio', data-msg='Данное поле необходимо отметить')
            span radio 2
          label.wRadio
            input(type='radio', name='radio', data-msg='Данное поле необходимо отметить')
            span radio 3
        .wFormRow
          button.wSubmit.wBtn.lg.succes(type='submit')
            span Подтверждение
          button.wReset.wBtn.lg.danger(type='reset')
            span Сброс
          button.wBtn.lg.primary(type='button')
            span Кнопка
    // .demo
    hr
    .demo
      .h5T .wForm.wFormSearch
      .wForm.wFormSearch(data-form='true')
        .wFormInput
          input#search1.wInput(type='search', name='search1', required='', data-msg-required='Что будем искать?', data-rule-minlength='3', data-msg-minlength='Чтобы начать поиск нужно минимум 3 символа')
          button.wSubmit.wBtn.lg.danger(type='submit')
            span.svgHolder
              svg
                use(xlink:href='#icon_search')
    hr
    .demo
      .h5T Magnific Popup
      .m10_0
        button.wBtn.primary.mfiA(data-url='hidden/callback.php', data-param='{"id": "login"}') обратный звонок
    hr
    .demo
      .h5T Пагинация
      .tac
        .wPagination
          a(href='#', rel='prev') <
          a.curr(href='#') 1
          a(href='#') 2
          a(href='#') 3
          span ...
          a(href='#') 9
          a(href='#', rel='next') >
  .clear
  .wMiddle
    // .wMiddle
    hr
    .demo
      .h5T .wTxt - Типографика
      .wTxt
        h1 <H1> Заголовок \ <div.h1T>
        h2 <H2> Заголовок \ <div.h2T>
        h3 <H3> Заголовок \ <div.h3T>
        h4 <H4> Заголовок \ <div.h4T>
        h5 <H5> Заголовок \ <div.h5T>
        h6 <H6> Заголовок \ <div.h6T>
        p
          | Краткая демонстрация текстовых элементов. Элемент <p> создает новый параграф, который имеет отсуп до и после себя.  Чтобы превратить ваш текст в гиперссылку, нужно использовать 
          a(href='#') элемент <a>
          | . Вы можете выделить текст используя такие элементы как 
          i <i>
          |  или 
          em <em> элемент
          | , или обозначить важный текст при помощи 
          b <b> элемента
          |  или 
          strong <strong> элемента
          | , подчекрнуть 
          u <u>
          |  и 
          ins <ins> элементами
          |  или зачеркнуть 
          del <del> элементом
          | , сделать пометку 
          mark <mark> элементом
          | .
        p
          | Также можно использовать специальные элементы 
          sup <sup>
          |  и 
          sub <sub>
        p
          | Тег 
          code <code>
          |  предназначен для отображения одной или нескольких строк текста, который представляет собой программный код.
        p
          | Тег 
          kbd <kbd>
          |  используется для обозначения текста, который набирается на клавиатуре или для названия клавиш.
        p
          | Тег 
          samp <samp>
          |  используется для отображения текста, который является результатом вывода компьютерной программы или скрипта.
        p
          | Тег 
          code <small>
          small уменьшает размер шрифта по сравнению с обычным текстом.
        p
          | Тег 
          code <big>
          big увеличивает размер шрифта по сравнению с обычным текстом.
        p
          | Тег 
          code <abbr>
          |  указывает, что 
          abbr(title='последовательность символов') ПС
          |  является аббревиатурой. С помощью атрибута title дается расшифровка сокращения, что позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того, поисковые системы индексируют полнотекстовый вариант сокращения, что может использоваться для повышения рейтинга документа.
        p
          | Как правило, в документе, когда упоминается новый термин, он выделяется курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным читателю. Тег 
          dfn <dfn>
          |  применяется для выделения таких терминов при их первом появлении в тексте.
        address
          | Тег 
          code <address>
          |  предназначен для хранения информации об авторе и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.
        blockquote
          | Элемент 
          code <blockquote>
          |  используется для обозначения цитат, длинных выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.
        pre.
          \n<pre> элемент для блоков кода             .breadcrumbs span + span:before {               content: '/';               position: absolute;               top: 0;               left: 0;               width: 20px;               height: 100%;               text-align: center;            }
        h3 Маркированный список
        ul
          li
            a(href='http://www.wezom.com.ua', target='_blank', title='Веб-студия Wezom') Веб-студия Wezom
            |  - Продвижение, создание сайтов, разработка, раскрутка сайта
          li
            a(href='http://www.korova.ks.ua', target='_blank', title='Коворкинг - Центр Корова') Коворкинг - Центр Корова
            |  - Аренда офиса, рабочего места в центре Херсона
          li
            a(href='http://www.100bannerov.com', target='_blank', title='100bannerov') 100bannerov
            |  - Размещение бесплатной баннерной рекламы в интернете
          li
            a(href='http://www.wezom.mobi', target='_blank', title='Wezom.mobile') Wezom.mobile
            |  - Разработка и создание мобильных приложений для android и ios устройств в Украине
        pre.
          \n<ul>               <li>Продвижение, создание сайтов, разработка, раскрутка сайта</li>               <li>Аренда офиса, рабочего места в центре Херсона</li>               <li>Размещение бесплатной баннерной рекламы в интернете</li>               <li>Разработка и создание мобильных приложений для android и ios устройств в Украине</li>            </ul>            
        h3 Нумерованный список
        ol
          li
            a(href='http://www.dom-rebenka.org.ua', target='_blank', title='Областной Дом ребенка') Областной Дом ребенка
            |  - Помощь детям с пораженной ЦНС
          li
            a(href='http://www.blogoduma.ru', target='_blank', title='Медицинский портал') Медицинский портал
            |  - Все о здоровье и медицин
          li
            a(href='http://www.more.ks.ua', target='_blank', title='Отдых на море') Отдых на море
            |  - Черное и Азовское море / пансионаты Херсонского побережья
          li
            a(href='http://www.rafting.mk.ua', target='_blank', title='Рафтинг на Южном Буге и в Карпатах') Рафтинг на Южном Буге и в Карпатах
            |  - Рафтинг в Украине, сплав по реке Южный Буг
        pre.
          \n<ol>               <li>Помощь детям с пораженной ЦНС</li>               <li>Все о здоровье и медицин</li>               <li>Черное и Азовское море / пансионаты Херсонского побережья</li>               <li>Рафтинг в Украине, сплав по реке Южный Буг</li>            </ol>            
        h3 Список определений
        dl
          dt Что такое Тег?
          dd
            | Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.
          dt Что такое HTML-документ?
          dd
            | Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.
          dt Что такое Сайт?
          dd
            | Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.
        pre.
          \n<dl>               <dt>Термин 1</dt>               <dd>Определение 1</dd>               <dt>Термин 2</dt>               <dd>Определение 2</dd>            </dl>            
        h2 Выравнивание текста
        h4 По левому краю
        p(style='text-align: left;')
          img(src='pic/no-image.png', alt='', width='300', style='float: right; margin: 5px 0 20px 20px;')
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi deleniti accusamus nihil doloremque enim, fugit ipsa optio amet voluptas? Vitae iusto officiis ex deserunt fugit, nemo temporibus, quam dolores, voluptatibus exercitationem quo! Repellendus accusamus unde totam, ad aliquam reprehenderit non provident iure impedit quia et atque, cupiditate maxime expedita!
        p(style='text-align: left;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore itaque assumenda. Sed, fugiat quas labore quibusdam alias obcaecati natus aliquid rerum praesentium ratione! Eaque deleniti nobis consequatur, nihil dolorem omnis autem dolores? Maiores quidem eligendi eveniet omnis ut, tenetur ipsam deleniti esse labore magnam vitae ipsum, quo, expedita autem a atque voluptate. At quam esse aspernatur saepe hic, amet pariatur, aperiam quibusdam tempore libero nulla voluptatibus sed sit quas odio inventore. Natus quae velit reiciendis aliquid eaque perspiciatis iure sint magni, cum illo, tempore odio obcaecati error voluptates esse, dicta sit at doloribus beatae sapiente dolore eligendi voluptate culpa autem! Vitae rem nostrum itaque, illum, cumque nulla minus delectus consequuntur labore quasi dolorum aspernatur? Sint facilis, illo quidem similique quaerat assumenda dolor voluptatem provident, debitis iste officiis rerum consequatur!
        h4 По правому краю
        p(style='text-align: right;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi deleniti accusamus nihil doloremque enim, fugit ipsa optio amet voluptas? Vitae iusto officiis ex deserunt fugit, nemo temporibus, quam dolores, voluptatibus exercitationem quo! Repellendus accusamus unde totam, ad aliquam reprehenderit non provident iure impedit quia et atque, cupiditate maxime expedita!
        p(style='text-align: right;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, cupiditate nostrum libero praesentium illum corporis culpa, quos quaerat fugit fuga suscipit porro, necessitatibus recusandae dolorum amet rem maiores est eaque minus veniam accusamus, aspernatur aliquid ad. Ipsum quos, magni eaque veniam ad quae ducimus optio debitis consequuntur rerum pariatur harum, quibusdam facilis provident. Fugiat neque accusamus quam aliquid veritatis eligendi vel sequi ad ducimus iusto doloribus in, velit odit consectetur accusantium ratione eaque saepe quas soluta. Incidunt officiis, eum aspernatur explicabo magnam asperiores voluptas dolores, sit adipisci non dignissimos veniam ullam sequi accusantium, aperiam quaerat modi beatae vitae tenetur voluptates corrupti alias quae. Atque facere vitae, temporibus nesciunt repudiandae architecto, debitis similique, hic natus et eos aliquam nemo nisi quo? Fugiat optio eligendi, natus nulla illum. Debitis consequatur, at fugiat!
        h4 По центру
        p(style='text-align: center;')
          img(src='pic/no-image.png', alt='', width='300')
        p(style='text-align: center;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi deleniti accusamus nihil doloremque enim, fugit ipsa optio amet voluptas? Vitae iusto officiis ex deserunt fugit, nemo temporibus, quam dolores, voluptatibus exercitationem quo! Repellendus accusamus unde totam, ad aliquam reprehenderit non provident iure impedit quia et atque, cupiditate maxime expedita!
        p(style='text-align: center;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sed inventore reprehenderit alias rem repellat ab vitae, excepturi perferendis libero magnam hic earum, unde a nesciunt veritatis temporibus vel accusantium aliquid. Expedita et incidunt nostrum quod maiores consectetur, ex itaque inventore hic distinctio exercitationem officia assumenda natus dolorem illum soluta, quam perspiciatis voluptatem voluptatum veniam fugit reiciendis ipsam. Soluta tempore pariatur nulla excepturi! Facilis repudiandae, vel ullam blanditiis atque placeat eum reprehenderit dolores maiores vitae voluptate ipsam recusandae nihil? Itaque impedit minima, harum assumenda? Placeat ipsum aut consequuntur, sint reprehenderit quasi laboriosam libero nostrum reiciendis? Quo illo, fugiat eum consectetur earum minus reprehenderit dolor eaque reiciendis molestias nihil ratione voluptas velit vel et. Delectus exercitationem, amet quibusdam iusto cumque harum alias, et beatae, cupiditate perspiciatis minus, autem illum earum magni!
        h4 По ширине
        p(style='text-align: justify;')
          img(src='pic/no-image.png', alt='', width='300', style='float: left;margin: 5px 20px 20px 0;')
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi deleniti accusamus nihil doloremque enim, fugit ipsa optio amet voluptas? Vitae iusto officiis ex deserunt fugit, nemo temporibus, quam dolores, voluptatibus exercitationem quo! Repellendus accusamus unde totam, ad aliquam reprehenderit non provident iure impedit quia et atque, cupiditate maxime expedita!
        p(style='text-align: justify;')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem autem totam qui, quisquam id? Reprehenderit minima placeat magnam similique debitis nihil perferendis quidem sed alias impedit repellat et eum aspernatur nulla, nemo quis odit, nesciunt unde reiciendis quia fugit rem! Laborum officiis, blanditiis quia architecto quaerat nobis consequatur. Molestiae est pariatur repellendus, reprehenderit adipisci id accusamus! Corrupti eum provident labore, voluptatum ratione voluptatem laborum perferendis non excepturi, quidem eos veniam, laboriosam iusto rerum quae suscipit atque pariatur blanditiis placeat sunt nihil, ullam cum soluta iure? Ipsa quam optio maiores amet ipsum accusantium suscipit ut at illum. Aperiam neque cumque voluptate ducimus, provident odit id recusandae eius possimus porro eos, harum sequi illum quis libero quae deserunt ab assumenda facere pariatur dolore odio, accusantium qui. Labore fuga odio at commodi exercitationem.
        h3 Таблицы
        table
          tr
            th Заглавие таблици
            th Заглавие таблици
            th Заглавие таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
        h5
          | Таблица CSS класс 
          b "table-null"
        table.table-null
          tr
            th Заглавие таблици
            th Заглавие таблици
            th Заглавие таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
        h5
          | Таблица CSS класс 
          b "table-zebra"
        table.table-zebra
          tr
            th Заглавие таблици
            th Заглавие таблици
            th Заглавие таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
          tr
            td Данные вашей таблици
            td Данные вашей таблици
            td Данные вашей таблици
        p
          iframe(width='560', height='315', src='https://www.youtube.com/embed/LEzKfmzKmjA', frameborder='0', allowfullscreen='')
        p
          iframe(src='https://player.vimeo.com/video/136354421?badge=0', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    hr
    .demo
      .h5T Дефолтные Изображения
      .wTxt.tac.demoimg
        style.
          .demoimg img{border:1px solid #ccc;}
        p
          a(href='pic/image.jpg', target='_blank') og:image.jpg
        p
          img(src='pic/image.jpg', alt='')
        p
          a(href='pic/watermark.png', target='_blank') watermark.png
        p
          img(src='pic/watermark.png', alt='')
        p
          a(href='pic/no-avatar.png', target='_blank') no-avatar.png
        p
          img(src='pic/no-avatar.png', alt='')
        p
          a(href='pic/no-image.png', target='_blank') no-image.png
        p
          img(src='pic/no-image.png', alt='')
        h2
          | Favicons - 
          i favicons/
        p(style='background-color:#eee; padding: 20px;')
          img(src='favicons/apple-touch-icon-57x57.png', title='apple-touch-icon-57x57.png')
          img(src='favicons/apple-touch-icon-60x60.png', title='apple-touch-icon-60x60.png')
          img(src='favicons/apple-touch-icon-72x72.png', title='apple-touch-icon-72x72.png')
          img(src='favicons/apple-touch-icon-76x76.png', title='apple-touch-icon-76x76.png')
          img(src='favicons/apple-touch-icon-114x114.png', title='apple-touch-icon-114x114.png')
          img(src='favicons/apple-touch-icon-120x120.png', title='apple-touch-icon-120x120.png')
          img(src='favicons/apple-touch-icon-144x144.png', title='apple-touch-icon-144x144.png')
          img(src='favicons/apple-touch-icon-152x152.png', title='apple-touch-icon-152x152.png')
          img(src='favicons/apple-touch-icon-180x180.png', title='apple-touch-icon-180x180.png')
          img(src='favicons/apple-touch-icon.png', title='apple-touch-icon-57x57.png')
          img(src='favicons/android-chrome-192x192.png', title='android-chrome-192x192.png')
          br
          img(src='favicons/favicon-16x16.png', title='favicon-16x16.png')
          img(src='favicons/favicon-32x32.png', title='favicon-32x32.png')
          img(src='favicons/favicon-96x96.png', title='favicon-96x96.png')
          img(src='favicons/favicon-194x194.png', title='favicon-194x194.png')
          br
          img(style='background-color: #555;', src='favicons/mstile-70x70.png', title='mstile-70x70.png')
          img(style='background-color: #555;', src='favicons/mstile-150x150.png', title='mstile-150x150.png')
          img(style='background-color: #555;', src='favicons/mstile-310x150.png', title='mstile-310x150.png')
          img(style='background-color: #555;', src='favicons/mstile-310x310.png', title='mstile-310x310.png')
  // .wMiddle
